.calculator-div {
    display: flex;
    justify-content: center;
    align-items: center;      
}

.buttons-div{
    display: grid;
    position: relative;
    background-color: rgb(238, 238, 238);
    list-style: none;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 10px;
    width: 200px;
    border: 1.5px solid black;
    border-radius: 15px;
    box-sizing: 150px;
    
}

.buttons-line input{
    
    margin:5px;
    min-width: 35px;
    height:45px;
    max-width: 50px;
    border-radius: 10px;
    border-color: rgb(179, 179, 179);
    border-width: 1.25px;
    text-align: center;
}

.buttons-line{
    text-align: center;
    margin: 0 auto;
}

.result{
    padding-bottom: 25px;
    padding-top: 25px;
    text-align: right;
    display: block;
}



